<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="">
</head>

<body>
  <h1>Mission Show Page</h1>
  <h3>Mission Name: <%= mission.name %></h3>
  <h3>Mission Launch Date: <%= mission.launchDate%></h3>
  <h3>Mission Operator: <%= mission.operator%></h3>
  <h3>Mission Type: <%= mission.missionType%></h3>
  <h3>Mission Image: <%= mission.img%></h3>


  <script type="text/javascript" src=""></script>
</body>

</html>
